{{!-- {{> themes/Cloth/front-menu}} --}}
<div class="row">
    <div class="product-layout col-md-8 col-md-offset-2">
        <div class="product-layout">
          <div class="section">
            <a href="/about#Kala" rel="noopener"><h3 class="">{{ @root.__ "About" }}</h3></a>
            <p></p>
          </div>
          <div class="section">
            <a href="/about#Design" rel="noopener"><h3 class="">{{ @root.__ "Design" }}</h3></a>
            <p></p>
          </div>
          <div class="section">
            <a href="/about#Unique" rel="noopener"><h3 class="">{{ @root.__ "Unique" }}</h3></a>
            <p></p>
          </div>
          <div class="section">
            <a href="/about#New" rel="noopener"><h3 class="">{{ @root.__ "New" }}</h3></a>
            <p></p>
          </div>
        </div>
    </div>
</div>