{{!-- {{> themes/Cloth/front-menu}} --}}
<div class="row">
    <div class="product-layout col-md-8 col-md-offset-2">
        <div class="product-layout">
          {{{page.pageContent}}}
        </div>
    </div>
</div>