h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.search-bar-input, #frm_search, .search-bar-input .btn{
  padding-top: 10px;
  height: 45px;
}
.inline {
  display: inline-block
}

label[for=newCustomerPassword] {
  top: 35px;
}

.navbar-static-top {
  position: absolute;
  width: 100%;
  height: 140px !important;
  background-color: transparent!important;
}
.content-body {
  margin-bottom: 0px;
}
.product-layout {
  padding-top: 0px;
}
.productsWrapper {
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}
.product-details {
  position: absolute;
  top: 20%;
  width: 300px;
}

.body_text {
  padding-top: 50px;
}
.quantity .btn-primary.nope:focus,
.quantity .btn-primary.nope:focus-within,
.quantity .btn-primary.nope:active,
.quantity .btn-primary.nope:hover {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
    outline: 0;
}
.btn-danger, .btn-warning, .btn-primary {
    color: #000;
    background-color: transparent;
    border-color: #000;
}
.quantity input.form-control {
  width: 15%;
  display: inline-block;
  padding: 5px;
  height: auto;
  vertical-align: middle;
  float: none;
}
.quantity .btn {
  margin-left: 0px;
}
.quantity .product-option-text,
.quantity .input-group {
  display: unset;
  margin-bottom: 0px;
}
.quantity .input-group-btn {
  display: inline-block;
  width: auto;
}
.quantity button {
  padding: 5px;
  margin-right: 0px;
  border-color: transparent;
  vertical-align: middle;
}

#slider {
  position: absolute;
  /*top: -45px;
  left: 75px;*/
  width: 100px;
}
.rs-bg-color {
  background-color: transparent;
}
.rs-path-color {
    background-color: #fff0;
}
.rs-handle { /* for options.width: 8px */
  height: 18px;
  width: 18px;
  margin: -8px 0px 0px -6px!important;
}
.rs-bar .rs-seperator {
  display: none;
}
.full .rs-tooltip {
  top: 25%;
}

.rs-border.rs-outer {
  border-color: transparent;
}

.kala-box {
  padding-top: 110px;
  min-height: 100vh;
}

.thumbnail-image-container {
  height: 100vh;
  width: 100%;
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.thumbnail .bg-right {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  background: rgb(236,241,247);
  background: -moz-linear-gradient(180deg, rgba(236,241,247,1) 5%, rgba(245,249,252,1) 50%, rgba(250,251,255,1) 90%);
  background: -webkit-linear-gradient(180deg, rgba(236,241,247,1) 5%, rgba(245,249,252,1) 50%, rgba(250,251,255,1) 90%);
  background: linear-gradient(180deg, rgba(236,241,247,1) 5%, rgba(245,249,252,1) 50%, rgba(250,251,255,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecf1f7",endColorstr="#fafbff",GradientType=1);
}
.thumbnail .bg-left {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
 
  background: rgb(215,219,229);
  background: -moz-linear-gradient(180deg, rgba(215,219,229,1) 5%, rgba(228,233,238,1) 50%, rgba(236,241,247,1) 85%);
  background: -webkit-linear-gradient(180deg, rgba(215,219,229,1) 5%, rgba(228,233,238,1) 50%, rgba(236,241,247,1) 85%);
  background: linear-gradient(180deg, rgba(215,219,229,1) 5%, rgba(228,233,238,1) 50%, rgba(236,241,247,1) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7dbe5",endColorstr="#ecf1f7",GradientType=1);
}
.thumbnail-image-container .over {
  height: 100%;
  width: 100%;
  /*background-size: auto 100%;
  background-position: 50%;*/
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


.panel-default {
  border: none;
}
.panel-default>.panel-heading {
  color: #2c3e50;
  border-bottom: 8px solid #ddd;
  background-color: transparent;
}
.breadcrumb {
  background-color: transparent;
}

.product_wrapper {
  background: rgb(233,227,227);
  background: -moz-linear-gradient(90deg, rgba(233,227,227,1) 5%, rgba(235,229,229,1) 33%, rgba(233,227,227,1) 66%, rgba(233,227,227,1) 95%);
  background: -webkit-linear-gradient(90deg, rgba(233,227,227,1) 5%, rgba(235,229,229,1) 33%, rgba(233,227,227,1) 66%, rgba(233,227,227,1) 95%);
  background: linear-gradient(90deg, rgba(233,227,227,1) 5%, rgba(235,229,229,1) 33%, rgba(233,227,227,1) 66%, rgba(233,227,227,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9e3e3",endColorstr="#e9e3e3",GradientType=1);
}

.kala-links {
  position: absolute;
  top: 20%;
  left: 10%;
}
.kala-links ul { padding-left: 10px; }

.kala-links ul li { list-style: none; }
.kala-links ul li a {
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 0px;
  padding-bottom: 10px;
}
/* .kala-links ul li a:hover {
  border: 1px solid #555;
} */
.kala-links ul li a.selected {
  border: 1px solid #000;
}
.kala-links ul li img { width: 75px; }

.footer.v1 {
  background: rgb(229,213,197);
  background: -moz-linear-gradient(90deg, rgba(229,213,197,1) 0%, rgba(239,229,217,1) 50%, rgba(245,238,229,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(229,213,197,1) 0%, rgba(239,229,217,1) 50%, rgba(245,238,229,1) 100%);
  background: linear-gradient(90deg, rgba(229,213,197,1) 0%, rgba(239,229,217,1) 50%, rgba(245,238,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5d5c5",endColorstr="#f5eee5",GradientType=1);
}
.footer.v2 {
  background: rgb(224,222,227);
  background: -moz-linear-gradient(90deg, rgba(224,222,227,1) 5%, rgba(228,227,231,1) 33%, rgba(235,234,240,1) 66%, rgba(236,236,244,1) 95%);
  background: -webkit-linear-gradient(90deg, rgba(224,222,227,1) 5%, rgba(228,227,231,1) 33%, rgba(235,234,240,1) 66%, rgba(236,236,244,1) 95%);
  background: linear-gradient(90deg, rgba(224,222,227,1) 5%, rgba(228,227,231,1) 33%, rgba(235,234,240,1) 66%, rgba(236,236,244,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0dee3",endColorstr="#ececf4",GradientType=1);
}

.footer ul {
   list-style: none;
}
.footer h4 {
  font-weight: 300;
}
.foot-note {
  padding: 20px
}
.footer .row:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.footer .row {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer li p {
  width: calc(100% + 15px);
}

.footer i {
  color: #000;
}

.footer img.package {
  margin-top: -25px;
  height: 55px;
}

.footer .site-title {
  padding-left: 5px;
  font-size:60px
}

.footer img.logo {
  margin-bottom: 23px;
  height: 60px;
  margin-top: -25px;
}

.rev {
  transform: rotate(360deg) scaleX(-1);
}

.navbar {}

.product-title-image{
  margin: auto;
  height: 100%;
  width: auto;
}

.rebuild {
  display: none;
}
.rebuild .hide-rebuild {
  color: #777;
  cursor: pointer;
  transition: .2s;
}
.rebuild .hide-rebuild:hover {
  color: #333;
}
.rebuild .product-option-text {
  font-size: .9em;
}

.navbar-header { 
  position: relative;
}
.sub-navbar-header {
  position: absolute;
  display: block;
  bottom: -30px;
  left: 22px;
  font-size: 1.1em;
  font-weight: 300;
}
.sub-navbar-header span {
  display: block;
  line-height: 1.33em;
  color: #333;
}
.sub-navbar-header .bigger {
  font-size: 1.2em;
  color: #000;
}

.searchMenuLocation-side {
  padding-right: 0;
}

.searchBarWrapper{
  padding-right: 0;
  padding-left: 0;
}

.product-price {
  padding-bottom: 0;
}

.navbarMenuWrapper{
  background-color: #f5f5f5;
}

.navbarMenu>ul>li>a:hover{
  color: #cc4135 !important;
}

.navbarMenu{
  padding-right: 0;
  padding-left: 0;
}

.product_wrapper>a:hover{
  color: #cc4135 !important;
}

.navbar-static-top, .navbar-header, #navbar>.navbar-nav, #navbar>.navbar-nav>li>a{
  margin-bottom: 0;
  height: 140px !important;
}

#navbar>.navbar-nav>li>a{
  padding-top: 35px;
}

.pagination>li>a{
  background-color: #cc4135 !important;
}

.navbar-brand{
  color: #cc4135 !important;
  letter-spacing: 4px;
  padding-left: 20px !important;
  padding-top: 20px !important;
  height: 100px !important;
  font-size: 55px !important;
}

.navbar-brand-image, .navbar-brand{
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
}

.navbar-default .badge {
  background-color: #cc4135;
}

.pushy-link {
  border-color: #E74C3C;
  background-color: #E74C3C;
}

.empty-cart {
  border-color: #838b8f;
  background-color: #fff;
}
.empty-cart:hover, .empty-cart:focus, .empty-cart:active, .empty-cart:active:hover {
  border-color: #E74C3C;
  color: #E74C3C;
}

.pushy-link:hover, .pushy-link:focus, .pushy-link:active, .pushy-link:active:hover {
  border-color: #cc4135;
  background-color: #cc4135;
}

#pager {
  position: absolute;
  top: 20%;
  left: 0px;
}

.navActive>a{
  margin-bottom: 0px;
  padding-top: 15px;
  border-bottom: 5px solid #E74C3C;
}

.navbar-default .navbar-nav>li>a {
  color: #838b8f;
  font-size: 20px;
}

@media only screen and (max-width: 500px){
  .navbar-static-top, .navbar-header, #navbar>.navbar-nav, #navbar>.navbar-nav>li>a{
    margin-bottom: 0;
    height: auto !important;
  }
  .navbar-brand{
    height: auto !important;
  }

  .sub-navbar-header {
    position: relative;
    display: block;
    font-size: 1.8em;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 768px){
  .sub-navbar-header {
    position: relative;
    display: block;
    font-size: 1.2em;
  }

  .navbar-default .navbar-brand {
    padding-top: 10px;
  }

  .navbar-default .navbar-nav>li>a{
    font-size: 16px;
  }

  .searchBarWrapper{
    padding-top: 10px;
  }

  .navbarMenuWrapper{
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbarMenuOuter{
    padding-left: 0;
    padding-right: 0;
  }

  .navActive>a {
    color: #fff !important;
  }

  .navbarMenu {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
 
  .navActive>a{
    color: white !important;
    background-color: #E74C3C;
    border-bottom: none;
  }

  .footer {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 992px){
  .sub-navbar-header {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    top: 30px;
    left: 0;
  }
}

.site-title {
 font-family: 'Wire One', sans-serif;
 text-transform: uppercase;
 color: #000;
 font-size: 100px;
 margin-top: 0px;
 padding-left: 15px;
}

.site-title sup {
 font-size: .5em;
 top: -0.7em;
}

.before {
 font-size: .75em;
 color: #E91E63;
 text-decoration: line-through;
}

.navbar-default .navbar-nav>li>a.lang {
 display: inline-block;
 padding: 10px 5px;
 font-size: 16px;
 transition: .2s;
}
/* override */
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a.lang:hover{
 color: #cc4135;
}

.delete-item {
  cursor: pointer;
  transition: .2s;
}
.delete-item:hover {
  color: #000;
}

.payment-type {
  margin-top: 10px;
  margin-bottom: 10px;
}
.payment-type .img-holder {
  display: inline-block;
  border: 2px solid #dce4ec;
  padding: 10px;
  cursor: pointer;
}
.payment-type .img-holder img {
  height: 20px;
}
.payment-type .title {
  padding-bottom: 10px;
}

#checkout_paypal {
  padding: 0px 5px;
}
#checkout_paypal i {
  font-size: 3em;
  line-height: 1em;
  margin-left: 5px;
}
#customerLogout {
  margin-bottom: 15px;
}

#checkout_paypal span {
  vertical-align: super;
}

ul li.hidden-xs:last-of-type{
  display: none;
}

.image-arrow {
  background-image: url(/images/arrow_r.png);
  background-position: 0 15px;
  height: 80px;
  width: 115px;
  z-index: 100;
  display: block;
  background-size: 50% 60%;
  background-repeat: no-repeat;
  top: 155px;
  transition: .2s;
}

.image-arrow:hover {
}

.image-prev {
  left: 10px;
}

.image-next {
  right: 10px;
  transform: rotate(180deg);
}