/* Media queries, theme included here */

@media only screen and (max-width: 1920px){
  #slider {
    top: -75px;
  }
}

@media only screen and (max-width: 1440px){
  #slider {
    top: -45px;
  }
  .body_text {
    font-size: .9em;
  }
}

@media only screen and (max-width: 1280px){
  .thumbnail-image-container,
  .thumbnail-image-container .over {}
} 

@media only screen and (max-width: 1200px){
  .thumbnail-image-container,
  .thumbnail-image-container .over {
  }
  #slider {
    top: -35px;
    /* left: 85px; */
  }
  .body_text {
    font-size: .9em;
  }
  hr {
    margin: 10px auto;
  }
}

@media only screen and (max-width: 1000px), screen and (max-width: 900px){

  .thumbnail-image-container,
  .thumbnail-image-container .over {
  }
  .thumbnail .bg-right {
    width: 100%!important;
  }
  #slider {
    top: -35px;
  }
  .body_text {
    font-size: .9em;
  }
  hr {
    margin: 10px auto;
  }
}

@media only screen and (min-width: 768px){
    .pushy {
        width: 700px;
    }
    .pushy-right {
        -webkit-transform: translate3d(700px, 0, 0);
        -ms-transform: translate3d(700px, 0, 0);
        transform: translate3d(700px, 0, 0);
    }

    .pushy-open-right #container,
    .pushy-open-right .push {
        -webkit-transform: translate3d(-700px, 0, 0);
        -ms-transform: translate3d(-700px, 0, 0);
        transform: translate3d(-700px, 0, 0);
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape), 
screen and (max-width: 768px) and (orientation: landscape) {
    .thumbnail-image-container,
    .thumbnail-image-container .over {
    }
    .thumbnail .bg-right {
      width: 100%!important;
    }
    #slider {
      top: -35px;
      /* left: 85px; set in js */
    }
}

@media only screen and (max-width: 768px)  and (orientation: landscape) {
  .kala-links {
    top: 30%!important;
    left: 0!important;
  }
  .kala-links ul li img {
    width: 70px;
  }
  .kala-links ul li { display: inline-block; }
  .btnAddToCart {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 768px)  and (orientation: portrait) {
  #slider {
    top: -10px;
    left: 85px;
  }
  .kala-links {
    top: 16%!important;
    left: 0!important;
  }
  .kala-links ul li img {
    width: 70px;
  }
  .kala-links ul li { display: inline-block; }

  .thumbnail-image-container .over,
  .thumbnail-image-container {
    background-size: auto 65%!important;
    background-position: 50% 20%!important;
  }

  .btnAddToCart {
    margin-top: 40px;
  }

  .pushy {
      width: calc(100%);
  }
  .pushy-right {
      -webkit-transform: translate3d(calc(100%), 0, 0);
      -ms-transform: translate3d(calc(100%), 0, 0);
      transform: translate3d(calc(100%), 0, 0);
  }

  .pushy-open-right #container,
  .pushy-open-right .push {
      -webkit-transform: translate3d(-calc(100%), 0, 0);
      -ms-transform: translate3d(-calc(100%), 0, 0);
      transform: translate3d(-calc(100%), 0, 0);
  }

  .product-item{
      padding-left: 0px;
      padding-right: 0px;
  }

  .showFooter{
      margin-bottom: 220px;
  }

  .title-image-container{
      height: auto;
  }

  .product-title{
      padding-top: 25px;
      min-height: auto;
  }

  .search-bar-input{
      padding-left: 0;
      padding-right: 0;
  }

  .menu-side {
      padding-top: 15px;
  }

  .product-layout{
      padding-top: 0px;
      padding-bottom: 30px;
  }

  #btn_search{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }

  .cart-row{
      padding-top: 10px;
      border-bottom: 1px solid #ecf0f1;
      display: block;
  }

  .cart-body{
      padding-top: 0px;
  }

  .cart-contents-shipping{
      padding-top: 10px;
  }

  #cart{
      padding-bottom: 15px;
  }

  .footer {
      height: 100px;
  }

  body{
      margin-bottom: 100px;
  }
}
